.container1 {
    display: grid;
    grid-template-columns: 2080px;
    grid-template-rows: 100px 1080px 1080px  1080px 50px;
    gap: 0px 0px;
    grid-template-areas:
        "block1"
        "block2"
        "block3"
        "block4"
        "block5";

    margin: 0 auto;
    padding: 0 auto;
}


#block1 { grid-area: block1; }
#block2 { grid-area: block2; }
#block3 { grid-area: block3; }
#block4 { grid-area: block4; }
#block5 { grid-area: block5; }

body {
  margin: 0;
  padding: 0;
  background-image: url('../public/images/fon3.png');
}

.fon1 {
    margin-left: 12.2px;
    margin-bottom: -84px;
}

.cont3 {
  width: 1820px;
  height: 980px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


.fon2 {
    filter: contrast(105%);
}

header {
  width: 1920px;
  height: 1080px;
}

/* sign-up */
.signup {
    position: relative;
    width: 97px;
    height: 45px;
    left: 1405px;
    top: 50px;
    transition: transform 0.6s;
}

.signup:hover {
    transform: scale(1.2);
}


.title3{
/* space */
    position: absolute;
    width: 150px;
    height: 59px;
    left: -1203px;
    top: 250px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 68px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.title3:hover{
    color: #00008B;
}
.title4:hover{
    color:#0000CD;
}
.title5:hover{
    color:#1E90FF;
}
.title6:hover{
    color:#00BFFF;
}
.title7:hover{
    color:#00FFFF;
}
.title8:hover{
    color: #66CDAA;
}

.title4{
/* stars */
position: absolute;
width: 125px;
height: 29px;
left: -1236px;
top: 335px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 68px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}

.title5{
/* planets */
position: absolute;
width: 186px;
height: 59px;
left: -1270px;
top: 415px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 68px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}

.title6{
/* galaxies */
position: absolute;
width: 206px;
height: 59px;
left: -1308px;
top: 495px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 68px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}

.title7{
/* conspiracies */
position: absolute;
width: 315px;
height: 59px;
left: -1342px;
top: 572px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 68px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}

.title8 {
/* life */
position: absolute;
width: 102px;
height: 59px;
left: -1220px;
top: 650px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 68px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}


/* about с анимацией*/
.about:hover {
    transform: scale(1.2);
}

.about {
    position: relative;
    width: 68px;
    height: 20px;
    left: 703px;
    top: 52px;
    transition: transform 0.6s;
}

/* quiz с анимацией*/
.quiz:hover {
    transform: scale(1.2);
}
.quiz {
    position: relative;
    width: 57px;
    height: 23px;
    left: 60px;
    top: 53px;
    transition: transform 0.6s;
}

/* discover с анимацией*/
.discover:hover {
    transform: scale(1.2);
}
.discover {
    position: relative;
    width: 100px;
    height: 20px;
    left: -610px;
    top: 51px;
    transition: transform 0.6s;
}

 /* dhruva_logos фикс */
.dhruva_logo {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-top: -80px;
    width: 175px;
    height: 32px;
}

.ASTRONOMY_CLUB {
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    margin-top: 10px;
    width: 173px;
    height: 15px;
}

/* scroll с анимацией */
.Scroll {
    position: absolute;
    width: 116px;
    height: 29px;
    left: 1810px;
    top: 400px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(90deg);
}
.Scroll:hover{
    color: blue;
}

/* logos с анимацией*/
.insta {
position: absolute;
width: 28px;
height: 28px;
left: 131px;
top: 980px;
transition: transform 0.6s;
}
.insta:hover {
    transform: scale(1.2);
}
.twi:hover {
    transform: scale(1.2);
}
.fbk:hover {
    transform: scale(1.2);
}

.title1 {
/* learn */
position: absolute;
width: 361px;
height: 146px;
left: -1690px;
top: 310px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 120px;
line-height: 146px;
text-align: center;
color: #FFFFFF;
}


.title2 {
/* and cosmos */
position: absolute;
width: 783px;
height: 146px;
left: -772px;
top: 309px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 120px;
line-height: 146.1px;
text-align: center;
color: #FFFFFF;
}

.title1:hover{
    color: #4682B4;
}
.title2:hover{
    color: #7B68EE;
}

.twi {
position: absolute;
width: 34.04px;
height: 28px;
left: 128px;
top: 921px;
transition: transform 0.6s;
}

.fbk {
position: absolute;
width: 28px;
height: 28px;
left: 131px;
top: 862px;
transition: transform 0.6s;
}

.contacts {
    position: relative;
    width: 700px;
    height: 15px;
    left: 710px;
    top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}

h5 {
    width: 177px;
    height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 430px;
}

.flex-containerH5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -441px;
    margin-left:235px;
    position: fixed;
}

h6 {
    position: absolute;
    width: 184px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.flex-containerPICS {
    display: flex;
    margin-top: -742px;
    margin-left: 160px;
    position: fixed;
    justify-content: space-evenly;
}

.pic1 {
    width: 321px;
    height: 321px;
    border: 2px solid darkblue;
    padding: 5px;
    display: inline-block;
    margin-right: 265px;
    }

.pic2 {
    width: 330px;
    height: 330px;
    padding: 5px;
    display: inline-block;
    border: 2px solid #800080;
    margin-right: 190px;
}

.pic3 {
    width: 330px;
    height: 330px;
    margin-left: 65px;
    border: 2px solid darkblue;
    padding: 5px;
    display: inline-block;
}

.animated-text {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #333;
    animation: change 4s infinite alternate;
}

@keyframes change {
    0% {color: #333; }
    50% {color: aqua; }
    100% {color: #333; }
}

.animated-text1 {
    font-size: 14px;
    color: #333;
    animation: change1 4s infinite alternate;
}

@keyframes change1 {
    0% {color: #333; }
    50% {color: blueviolet; }
    100% {color: #333; }
}

.navtext1 {
    width: 125px;
    height: 59px;
    left: 809px;
    top: 15px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 47px;
    line-height: 59px;
    position: fixed;
    text-align: center;
    color: #6A5ACD;
}

.navtext2 {
    margin-top: -500px;
    margin-left:840px;
    width: 125px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 47px;
    line-height: 59px;
    color: #6A5ACD;
}

.usabout {
    display: flex;
    margin-top:-160px;
    margin-left:300px;
    width: 220px;
    height: 33px;
    left: 323px;
    top: 2550px;
}

.poloska {
    display:flex;
    margin-left:333px;
    width: 0px;
    height: 61px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.logo2 {
    display: flex;
    width: 200px;
    height: 220.65px;
    margin-left: 334px;
    margin-top: -680px;
    /* background: url(/public/images/Dhruva-Final.png); */
}

.info1 {
    display: flex;
    flex-direction: row;
    width: 828px;
    height: 76px;
    margin-left: 670px;
    margin-top: 150px;
    text-decoration: underline;
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 190%;
    color: #FFFFFF;
}

.info2 {
    position: absolute;
    width: 1004px;
    height: 183px;
    margin-left: 673px;
    top: 2730px;
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 300;
    font-size: 32px;
    line-height: 190%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.info2:hover{
    color: #08457e;
}



.container1 {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

section {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
}


.Scrol {
    position: relative;
    width: 116px;
    height: 29px;
    left: 250px;
    top: -700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(90deg);
}
.Scrol:hover{
    color: blue;
}


.flex1 {
    display: flex;
    justify-content: columns;
    position: relative;
    left: -15px;
    top: -1180px;
}

.flex2 {
    display: flex;
    justify-content: columns;
    position: relative;
    left: -15px;
    top: -1180px;
}
.flex3 {
    display: flex;
    justify-content: columns;
    position: relative;
    left: 40px;
    top: -1158px;
}
.flex4 {
    display: flex;
    justify-content: columns;
    position: relative;
    left: 40px;
    top: -1158px;
}
.flex5{
    display: flex;
    justify-content: columns;
    position: relative;
    top: -1155px;
}

.flex6{
    display: flex;
    justify-content: columns;
    position: relative;
    top: -1158px;
}
.flex7 {
    display: flex;
    justify-content: columns;
    position: relative;
    top: -1158px;
}
.flex8 {
    display: flex;
    justify-content: columns;
    position: relative;
    top: -1158px;
}
.flex9 {
    display: flex;
    justify-content: columns;
    position: relative;
    top: -1158px;
}
.flex10 {
    display: flex;
    justify-content: columns;
    position: relative;
    top: -1158px;
}

/*для телефонов*/
@media (max-device-width: 390px) and (max-device-height: 844px) {
     .container1 {
        padding: 0 0px;
        width: 390px;
        height: 844px;
        width: 20%;
        margin-left: -140px;

    }

    .signup{
        left: 750px;
    }

   body {
        transform: scale(0.85);
        transform-origin: center center;
    }

    h6 {
        font-size: 40px;
        line-height: 1.1;
    }
 }

/*для ноутов*/
@media (max-width: 1280px) and (max-height: 1024px) {
    .container1 {
        padding: 0 0;
        width: 1280px;
        height: 1024px;
        width: 20%;
        margin-left: 120px;
    }
}

    .signup {
        left: 1580px;
        width: 230px;
        height: 100px;
    }

    .about {
         left: 740px;
         width: 140px;
         height: 40px;
    }
    .quiz {
         display: none;
    }

    .discover {
         left: -440px;
         width: 177px;
         height: 38px;
    }

    body {
        transform: scale(1);
        transform-origin: center center;
    }

    h6 {
        font-size: 40px;
        line-height: 1.3;
    }

    .Scrol {
          left: 420px;
    }

    .Scroll {
          left: 1980px;
    }

    .dhruva_logo {
    margin-top: -45px;
    margin-left: -10px;
    width: 280px;
    height: 50px;
    }

    .flex2 {
        margin-left: -185px;
    }

    .ASTRONOMY_CLUB {
      margin-left: 32px;
       width: 200px;
       height: 20px;

    }

/*для планшетов*/
@media only screen (max-width: 1024px) and (max-height: 1366px) {
    .container1 {
        padding: 0;
        width: 1024px;
        height: 1366px;
        width: 20%;
        margin-left: 120px;
    }

    .signup {
        left: 1580px;
        width: 230px;
        height: 100px;
    }

    .about {
        left: 740px;
        width: 140px;
        height: 40px;
    }

    .quiz {
        display: none;
    }

    .discover {
        left: -440px;
        width: 177px;
        height: 38px;
    }

    body {
        transform: scale(1);
        transform-origin: center center;
    }

    h6 {
        font-size: 40px;
        line-height: 1.3;
    }

    .Scrol {
        left: 420px;
    }

    .Scroll {
        left: 1980px;
    }

    .dhruva_logo {
        margin-top: -45px;
        margin-left: -10px;
        width: 280px;
        height: 50px;
    }

    .flex2 {
        margin-left: -185px;
    }

    .ASTRONOMY_CLUB {
        margin-left: 32px;
        width: 200px;
        height: 20px;
    }

    .animated-text {
        color:#FF0000;
    }

    h5 {
        color: #FF0000;
    }
}